[submodule "vencord"]
	path = vencord
	url = https://github.com/Vendicated/Vencord
[submodule "equicord"]
	path = equicord
	url = https://github.com/Equicord/Equicord
[submodule "roverpp"]
	path = roverpp
	url = https://github.com/TheUnium/roverpp.git
