@import "tailwindcss";

@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url("/assets/font/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: 'Inter Variable';
    font-style: italic;
    font-display: swap;
    font-weight: 100 900;
    src: url("/assets/font/InterVariable-Italic.woff2") format("woff2");
}

:root {
    --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif;
}

body {
    font-family: var(--font-sans);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #323232;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
}

.switch-checkbox:checked+.switch-label {
    background-color: #23a559;
}

.switch-checkbox:checked+.switch-label::after {
    transform: translateX(1.2rem);
}

/* splash.html */
.progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #323232;
    overflow: hidden;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #5865F2;
    animation: sweep 1s infinite linear;
}

@keyframes sweep {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(200%);
    }
}

.nodrag {
    -webkit-app-region: no-drag;
}

/* call.html */
@keyframes borderPulse {
    0% {
        transform: scale(0.95);
        opacity: 1;
        filter: blur(0)
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
        filter: blur(1)
    }
}

.border-pulse {
    animation: borderPulse 1.5s ease-out infinite;
}